In [1]:
import keyword

print (keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [34]:
# Understanding different boolean and, or, not, is

True and False

False

In [3]:
True or False

True

In [4]:
not True

False

In [5]:
True is True

True

In [9]:
True is False

False

In [11]:
True + True

2

In [12]:
True + False

1

In [13]:
False + False

0

In [14]:
True - False

1

In [15]:
8 == 9

False

In [16]:
True and False or True

True

In [17]:
False or True and False

False

In [1]:
# Types of Data
# Integer (numerical value) E.g a = 369
# Float (numerical value with decimal) E.g a = 36.9
# string (word or letter) E.g a = 'parth','p', "parth makwana"
# Complex (data containing word, letter, number, signs) E.g a = 2.6j

In [32]:
# assigning variable to data, a is variable and 369 is data

a = 369

print(a)

type(a)

369

int

In [28]:
b = 36.9

print(b)

type(b)

36.9

float

In [29]:
a = 3
b = 6
c = 9

d = a + b + c
print (d)

18

In [30]:
print (d * 10)

180

In [36]:
# String: Anything inside the string is considered as string either is number, word or even a space 
# E.g '', ""
# E.g 'parth'

In [2]:
first_string = 'python'
second_string = ' is a powerful'
third_string = ' language'

print (first_string + second_string + third_string)

# use + or , to join strings

python is a powerful language

In [3]:
#To print something multiple time use

print ('Daisy ' * 3)

Daisy Daisy Daisy

In [5]:
print ('$ ' * 20)

$ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $ $

In [6]:
# printing string with int by adding

print ('fantastic ' + str(4))

fantastic 4

## TYPES OF STRUCTURE

In [ ]:
# Types of Structure
# List
# Tuple
# Set
# Dictionary

## List (Data structure/container) ; '[ ]'

In [ ]:
# List: a = [1,2,3,4,6.3,'parth'] , it accepts all type of data, it is mutable (edit, delete, add, insert, remove)

In [9]:
# How to copy list into other list

a = ['parth', 'age', 25]

b = list(a)
b

['parth', 'age', 25]

In [1]:
marks = [20,30,45,56,86]

copynum01 = marks.copy()

copynum01

[20, 30, 45, 56, 86]

In [13]:
list("parth")

['p', 'a', 'r', 't', 'h']

In [ ]:
# Once you have created a list put. after variable (a.) and click tab so you will get drop down options!
# if bydefault drop down option is not there you can install it by !pip3 install jedi==0.17.2

In [ ]:
# append method (.append) - is used to add data/item/element at last (position) in list

In [11]:
employee = []

employee.append('james')

print(employee)

['james']

In [12]:
employee.append('craig')
employee.append('patrick')
print(employee)

['james', 'craig', 'patrick']

In [14]:
# Index & Insert - Index is a virtual indexing of a data (e.g jack is 0, james is 1, sydney is 2)

employee.insert(2, 'suzan')
employee

['james', 'craig', 'suzan', 'patrick']

In [ ]:
# To check number of element which are present in a list us (len)

In [15]:
len(employee)

4

In [16]:
# Grabing (looking up) a element in a list based on its index

employee[2]

'suzan'

In [17]:
# Changing(updating) a element by its index

employee[0] = 'gregory'

employee

['gregory', 'craig', 'suzan', 'patrick']

# Slicing in python

In [18]:
#Grabing index 1 and evertything past it  with [:] (e.g [starting point index : ending point index])
# End position of index is always excluded & starting position of index is always going to remain (included)

employee[1:]

['craig', 'suzan', 'patrick']

In [19]:
employee[:2]

['gregory', 'craig']

In [20]:
employee[1:3]

['craig', 'suzan']

In [21]:
# adding something perm in list without using append method(if we only do employee + xyz that will add something temorary)
# to add something perm you need to us = (e.g below)
# We can use * (multipe) also to double the data by above method

employee_salary = [2000, 3000, 4000, 6000]

employee_salary = employee_salary + [2500]

In [23]:
employee_salary

[2000, 3000, 4000, 6000, 2500]

In [79]:
print ('=' * 40)
print ('                parth               ')
print ('$' * 40)

========================================
                parth
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

# Advance list

In [ ]:
# COUNT Method: to count number of similar element present in a list

In [86]:
marks = [2,5,6,4,8,2,5,6,3,5,9,65,6,5,1,2,656,5554,36,5,64,9,9,3,4,5,7,6,3,1,4,9]

marks.count(6)

4

In [87]:
# Finding a elements index (but we will not get all index position of similar element

marks.index(9)

10

In [24]:
employee

['gregory', 'craig', 'suzan', 'patrick']

In [26]:
# Extend method: To append (add) multiple data

employee.extend(['jimmy', 'bella', 'agatha'])

print (employee)

['gregory', 'craig', 'suzan', 'patrick', 'jimmy', 'bella', 'agatha']

In [27]:
# POP method: To delete element from the list

# Deleting last element by default.

pop_last = employee.pop()
pop_last

'agatha'

In [28]:
pop_index = employee.pop(3)
pop_index

'patrick'

In [30]:
pop_index = employee.pop(0)

In [31]:
# verify if its deleted now

print(employee)

len(employee)

['suzan', 'jimmy', 'bella']

3

In [176]:
# Remove method : To remove the 1st element from data & keeping duplicate data safe

roll_number = [22,66,33,55,44,88,99,11,22,66,33,55,22]

roll_number.remove(22)

In [177]:
print (roll_number)

[66, 33, 55, 44, 88, 99, 11, 22, 66, 33, 55, 22]

In [178]:
# Reverse method : To reverse data

car = ['red', 'black', 'green']

car.reverse()

car

['green', 'black', 'red']

In [179]:
# Sort method : sorting data

marks = [22,32,21,54,62,75,24,33,52,12,42,96,85,76]

# By default sort will sort data in acending order

marks.sort()
print (marks)

[12, 21, 22, 24, 32, 33, 42, 52, 54, 62, 75, 76, 85, 96]

In [180]:
# To sort manually

marks.sort(reverse=True)

print (marks)

[96, 85, 76, 75, 62, 54, 52, 42, 33, 32, 24, 22, 21, 12]

## Tuple (Data structure/container) ; '()'

In [36]:
# Tuple are Immutable unlike list, 2 method are available in Tuple 

location_work = ('noida', 'pune', 'vadodadara', 'bangalore')

type(location_work)

tuple

In [ ]:
# as tuple are immutable you can reassign a tuple as a list just to edit & then reassign back as list

In [38]:
location_work = list(location_work)
location_work
type(location_work)

list

In [39]:
# adding data into tuple after reassigning it as a list

location_work.append('rajasthan')
location_work[2] = 'chennai'

location_work

['noida', 'pune', 'chennai', 'bangalore', 'rajasthan']

In [40]:
# after adding changing the list back to tuple

location_work = tuple(location_work)

type(location_work)

tuple

In [43]:
# Unlike list tuple can also index its element from backword direction which starts from -1

location_work[-2]

'bangalore'

## SET (DATA Structure) '()'

In [ ]:
# Unique thing about set is that it doesnt takes any duplicate data

In [7]:
rollnumber = set()
type(rollnumber)

rollnumber.add(2)

rollnumber

{2}

In [10]:
# If you have a list which has dublicate number or elements you can convert it to SET in order to remove duplicate

roll_number = [1,2,3,4,6,5,8,4,5,3,1,2,5,2,9,8,7,5,2,3,2,1,2,3,4,6,3,]
type(roll_number)

roll_call = set(roll_number)

roll_call

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
# Once it has removed dublicate elements you can revert it back

roll_number = list(roll_call)

roll_number

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Dictionaries

In [ ]:
# Dictionaries is a concept in python which is called Mapping (data), List, Tupple, Set they contain sequencial data.
# But in Dictionaries you can do Mapping of data, E.g Key & its value = {'key1':'value1','key2':'value2'}
# Dictionaries "{}"

In [40]:
Student_result = {'Roll_number':[1,2,3], 'Marks_student':[22,23,32], 'Subject_student':['computer','maths','science']}

Student_result

{'Roll_number': [1, 2, 3],
 'Marks_student': [22, 23, 32],
 'Subject_student': ['computer', 'maths', 'science']}

In [41]:
# How to fetch specific value in a Dictionaries

Student_result['Marks_student']

[22, 23, 32]

In [21]:
# How to fetch specific value with its elements in a Dictionries

Student_result['Subject_student'][1]

'maths'

In [22]:
# How to convert a Value/ Element to upper or lower case

Student_result['Subject_student'][1].upper()

'MATHS'

In [43]:
# How to change a value in a key (editing)

Student_result['Marks_student'][0] = Student_result['Marks_student'][0] + 6

In [45]:
Student_result['Marks_student']

[28, 23, 32]

In [46]:
# Another way of adding/substracting it

Student_result['Marks_student'][1] -= 2

In [49]:
Student_result['Marks_student']

[28, 21, 32]

In [51]:
# Adding a new Key + Value to a Dictionary

Student_result['Year'] = '3rd'

In [52]:
Student_result

{'Roll_number': [1, 2, 3],
 'Marks_student': [28, 21, 32],
 'Subject_student': ['computer', 'maths', 'science'],
 'Year': '3rd'}

In [53]:
# Key option to lookup only Keys

Student_result.keys()

dict_keys(['Roll_number', 'Marks_student', 'Subject_student', 'Year'])

In [54]:
# Item option to lookup key & its value

Student_result.items()

dict_items([('Roll_number', [1, 2, 3]), ('Marks_student', [28, 21, 32]), ('Subject_student', ['computer', 'maths', 'science']), ('Year', '3rd')])

## Branching (if/ elif/ else)

In [56]:
A = 18

if A < 15:
    
    print('it is less than 15')
    
else:
    print('it is something else')

it is something else

In [57]:
# You can also write in this way

print('it is less than 15') if A < 15 else print('it is something else')

it is something else

In [60]:
# According to Boolean in python if we use 'and' then both condition needs to be true or else it will not go further to check

a = 300
b = 50
c = 400

if a < b and c > a:
    print('Both condition are True')
    
else:
    print ('Both are not True')

Both are not True

In [62]:
# According to Boolean in python if we use 'or' then if one condition is True it will allow the python to compute

a = 300
b = 50
c = 400

if a > b or c < a:
    print('Atleast one of the condition is True')
    
else:
    print('Both are not True')

Atleast one of the condition is True

# Real world example of using Branching

In [58]:
# The use of branching with real-world examples

Item_1 = 300
Item_2 = 100

if (Item_1 + Item_2) >= 500:
    print('Your Item are eligible for free shipping')
    
else:
    extra = 500 - (Item_1 + Item_2)
    print('please add', extra, 'rupees worth of an item to your cart for free shipping')

please add 100 rupees worth of an item to your cart for free shipping

In [66]:
# Real-world example (Student result)

marks = 34

if marks >= 60:
    if marks > 70:
        print(marks, '- Distinction')
    else:
        print(marks,'- First class')
        
elif marks > 50 and marks <= 60:
    print (marks, '- Second class')
    
elif marks >=35:
    print(marks, '- Pass')
    
else:
    print(marks, '- Fail - Better luck next time')

34 - Fail - Better luck next time

## Range() Function

We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9 (10 numbers).
We can also define the start and stop and step size as range (start, stop, step size). step is default to 1 if not provided
To force this function to output all the items, we can use list()

In [67]:
print(range(10))

range(0, 10)

In [68]:
# Forcing range to show its element/item by using list

print (list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
# using step size in range

stepsize_example = list(range(0,43,3))

stepsize_example

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42]

In [73]:
# checking range from decending order

stepsize_example = list(range(43,0,-3))

stepsize_example

[43, 40, 37, 34, 31, 28, 25, 22, 19, 16, 13, 10, 7, 4, 1]

## Loops
Types of loops 1) For loop 2) while loop
for loop = if you know how many times you want to execute the code then use a loop.
while loop = if you dont know how many time you want to execute the use while loop (it will stop only if the condition is true)

# For loop

In [ ]:
# The For loop in python is used to iterate over a sequence (list,tuple,string) or other iterable objects
# iterating over a sequence is called traversal
# Loop continues until we reach the last item in the sequence

In [8]:
# In below example we can see that using a intelligence like for loop we can get specific/ desired data from database

Emp_salary = [1500,2500,3500,4500,5500,1800,3400,2200,5000,3000,6000]

for income in Emp_salary:
    if income > 3000:
        print(income)

3500
4500
5500
3400
5000
6000

In [10]:
# Using For loop we can get desired outcome of multiple data in database
# Example

Student_scores = [20,35,46,59,63,86,93,72]

for marks in Student_scores:
    if marks > 60:
        if marks > 70:
            print(marks, '-Disctinction')
        else:
            print(marks, '-First class')
    
    elif marks > 50 and marks <= 60:
        print(marks, '-Second class')
        
    elif marks >= 34:
        print(marks, '-Pass')
    
    else:
        print(marks, '-Fail - Better luck next time')

20 -Fail - Better luck next time
35 -Pass
46 -Pass
59 -Second class
63 -First class
86 -Disctinction
93 -Disctinction
72 -Disctinction

In [11]:
# another example

Emp_salary = [1500,2500,3500,4500,5500,1800,3400,2200,5000,3000,6000]

Sal = [Sal for Sal in Emp_salary if Sal > 3500]

print(Sal)

[4500, 5500, 5000, 6000]

In [12]:
# Another example of multiplication table with Else option in for loops

for num in range(2,5):
    print('Multiplication table for-', num)
    for i in range(1,11):
        print(num * i)
        if i == 10:
            print ('\n')          # ('\n') this function tells python to go back to the main for loop and start with another num
            
else:
    print('*' * 30)
    print('End of multiplication table')
    print('*' * 30)

Multiplication table for- 2
2
4
6
8
10
12
14
16
18
20


Multiplication table for- 3
3
6
9
12
15
18
21
24
27
30


Multiplication table for- 4
4
8
12
16
20
24
28
32
36
40


******************************
End of multiplication table
******************************

#  While Loops

In [ ]:
# While loop is used to iterate over a block of code as long as the test expression (condition) is true.

In [13]:
# Example

i = 0

while i < 6:
    i = i + 1
    print(i, 'parth')

1 parth
2 parth
3 parth
4 parth
5 parth
6 parth

In [6]:
# Example of while loop & breaking the iterations once its true

import time
alarm = time.localtime()
print (alarm)

time.struct_time(tm_year=2022, tm_mon=8, tm_mday=18, tm_hour=6, tm_min=21, tm_sec=2, tm_wday=3, tm_yday=230, tm_isdst=0)

In [7]:
while True:
    alarm = time.localtime()
    if alarm.tm_hour == 6 and alarm.tm_min== 24:
        print('Wake Up')
        break  #break will put a stop on the loop

Wake Up

## Enumerate

In [ ]:
# Enumerate() allows us to iterate through a sequence but it keeps track of both the index and the element

In [2]:
president = ['trump','lincoln','biden','george','putin','zelinsky']

for candidate in enumerate(president):
    print(candidate)

(0, 'trump')
(1, 'lincoln')
(2, 'biden')
(3, 'george')
(4, 'putin')
(5, 'zelinsky')

In [3]:
# you can start index from any number example below

for candidate in enumerate(president,9):
    print(candidate)

(9, 'trump')
(10, 'lincoln')
(11, 'biden')
(12, 'george')
(13, 'putin')
(14, 'zelinsky')

# # Zip

In [1]:
# How to zip all the list or data set in one variable

Student_M = ['james','drake','craig','charles','angela','darcy']
Student_S = [23,57,75,35,55,65]

Student_G = list(zip(Student_M,Student_S))

In [2]:
Student_G

[('james', 23),
 ('drake', 57),
 ('craig', 75),
 ('charles', 35),
 ('angela', 55),
 ('darcy', 65)]

# # Unzip

In [3]:
Name, Marks_s = zip(*Student_G)

In [4]:
Name

('james', 'drake', 'craig', 'charles', 'angela', 'darcy')

In [5]:
Marks_s

(23, 57, 75, 35, 55, 65)

# # Break

In [13]:
# Break is used to break a loop or a script to stop running when you mention break

# Example

B_City = ['Hyderabad', 'Mumbai', 'Pune', 'Noida', 'Surat', 'Bihar']

for val in B_City:
    if val == "Surat":
        break
        
    print(val)

Hyderabad
Mumbai
Pune
Noida

In [34]:
# Example 2

Salary_1 = [2500,3600,5200,5000,6400,4500,3500,6500]

for sal in Salary_1:
    if sal > 4500:
        break
    
    print(sal)

2500
3600

# # Continue

In [35]:
# Continue is used for any script which has to continue when the condition is met.

B_City = ['Hyderabad', 'Mumbai', 'Pune', 'Noida', 'Surat', 'Bihar']

for val in B_City:
    if val == "Surat":
        continue
        
    print(val)

Hyderabad
Mumbai
Pune
Noida
Bihar

In [37]:
# Example 2

Salary_1 = [2500,3600,5200,5000,6400,4500,3500,6500]

for sal in Salary_1:
    if sal > 4500:
        continue
    
    print(sal)

2500
3600
4500
3500

# # String Indexing

In [38]:
# String are sequence, and index are number assign to each string/data/val 
# E.g Parth - 0-P, 1-a, 2-r, 3-t, 4-h

D_DOG = 'Daisy is crazy'

print(D_DOG)

Daisy is crazy

In [39]:
# show 1st element of D_DOG

D_DOG[0]

'D'

In [40]:
# Grab everything past the first term all the way to the length of D_DOG which is len(D_DOG)

D_DOG[1:]

'aisy is crazy'

In [42]:
D_DOG[3:9]

'sy is '

In [43]:
# From last to back around at 0

D_DOG[-1]

'y'

In [44]:
# Grab everything but not the last letter

D_DOG[:-1]

'Daisy is craz'

In [45]:
# Now using step size for grabing

D_DOG[::2]

'Diyi rz'

In [46]:
D_DOG[::-2]

'yacs sa'